<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
       
       <!-- Add headers -->
        <httpProtocol>
            <customHeaders>
                <!-- Disables azure session affinity (sticky sessions) for load balance -->
                <add name="Arr-Disable-Session-Affinity" value="true" />
                <!-- Disallow x-frame -->
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Redirects -->
        <rewrite>
            <rules>
                              
                <!-- GMI Force SSL Always -->               
                <rule name="Force HTTPS always" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
                </rule>
                
                <!-- TODO add any redirects here, be careful when using 301s they are permanently cached -->
                
            </rules>
        </rewrite>        
    </system.webServer>
    
    <!-- Lock down web pages -->
    
    <!-- TODO Update/Add paths if needed -->
    <location path="admin">
      <system.webServer>
         <security>
            <ipSecurity allowUnlisted="false" denyAction="NotFound">
               <add ipAddress="127.0.0.1" allowed="true" />               
               
               <!-- GMI Class 16 network -->
               <add ipAddress="146.217.0.0" subnetMask="255.255.0.0" allowed="true" />	       
               <!-- IDC GNAT Ip Address -->
               <add ipAddress="119.226.140.244" allowed="true" />
               <!-- IDC Firewall -->
               <add ipAddress="119.226.140.222" allowed="true" />
               <!-- TODO Add your agency IPs -->
            </ipSecurity>
         </security>
      </system.webServer>
   </location>
    
</configuration>
